  quiz-start{
    .quiz-start{
      text-align: center;
    }
    .quiz-description {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1.3em;
      font-weight: bold;
    }
    .btn {
      width: 50%;
      font-size: 1.5em;
    }
  }
