<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-10 col-xs-12 quiz-title">
        {{ctrl.quiz.title}}
      </div>
      <div class="col-md-2 col-xs-12 text-right" ng-show="ctrl.showQuestions">
        <span>
          Question 
          <span class='no-wrap'>{{ctrl.current_question_no()}} of {{ctrl.totalQuestions}}</span>
        </span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="question-container">
      <div class="question animate-quesiton" ng-show="ctrl.showQuestions" ng-animate-swap="ctrl.currentQuestion.title">
        <quiz-question question="ctrl.currentQuestion"  on-answered="ctrl.nextQuestion(answer)"></quiz-question>
      </div>
      <div class="outcome"  ng-show="ctrl.showOutcome">
        <quiz-outcome outcome="ctrl.outcome"></quiz-outcome>
        <a href="#/quiz/{{ctrl.urlName}}" class="btn btn-primary center-block" role="button">Play Now!</a>
      </div>
    </div>
  </div>
</div>
<fb-like page-url="http://www.schengen-calculator.com"></fb-like>
<!-- <div class="fb-like" data-href="http://www.schengen-calculator.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<div class="fb-comments" data-href="http://localhost:9000/#/quiz/{{ctrl.urlName}}" data-width="500" data-numposts="10"></div> -->
