<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-10 quiz-title">
        {{ctrl.quiz.title}}
      </div>
      <div class="col-xs-2" ng-show="ctrl.showQuestions">
        Question 
        <span class='no-wrap'>{{ctrl.currentQuestion.order}} of {{ctrl.totalQuestions}}</span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="simple-quiz">
      <div class="question" ng-show="ctrl.showQuestions">
        <quiz-question question="ctrl.currentQuestion" on-answered="ctrl.nextQuestion(answer)"></quiz-question>
      </div>
      <div class="outcome"  ng-show="ctrl.showOutcome">
        <quiz-outcome outcome="ctrl.outcome"></quiz-outcome>
        <a href="#/quiz/{{ctrl.urlName}}" class="btn btn-primary center-block" role="button">Play Now!</a>
      </div>
    </div>
  </div>
</div>
